:root {
  --ff-base: system-ui, sans-serif;
  --ff-heading: system-ui, sans-serif;

  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 1rem; /* 14px */
  --fs-base: 1.25rem; /* 16px */
  --fs-md: 1.5rem; /* 24px */
  --fs-lg: 1.75rem;
  --fs-xl: 2rem;

  --lh-tight: 1.25;
  --lh-normal: 1.5;
  --lh-loose: 1.75;
}
